<!DOCTYPE html>
<html lang="{{doc.locale}}">
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>{{_(doc.title)}} – {{_(podspec.title)}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{g.static('/dist/main.min.css').url.path}}">
  <link rel="shortcut icon" href="{{g.static('/source/images/icon.png').url.path}}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <meta name="description" value="{{_(podspec.description)}}">
  <link href='/feed.xml' rel='alternate' title='Content Feed for William Anderson' type='application/rss+xml'>
</head>
<body>
  <header>

  </header>
  <main>
    <nav>
    </nav>
    {% block main %}{% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>
