<!DOCTYPE html>
<html lang="{{doc.locale}}">
<head>
  <meta charset="utf-8">
  <title>{{_(doc.title)}} – {{_(podspec.title)}}</title>
  <link rel="stylesheet" href="{{g.static('/dist/main.min.css').url.path}}">
  <link rel="shortcut icon" href="{{g.static('/source/images/icon.png').url.path}}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <meta name="description" value="{{_(podspec.description)}}">
</head>
<body>
  <header>

  </header>
  <main>
    <nav>
    </nav>
    {% block main %}{% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>
