{% extends '/views/base.html' %}

{% block main %}
  {{ headers.page('William Anderson', 'Web & Software Engineer, Artist, Teacher') }}

  {# Lists Featured Projects #}
  {% set all_projects = g.yaml('/content/projects.yaml') %}

  <section class='feature-card-wrapper'>
    {% for post in all_projects.projects %}
      {% if post.featured %}
        {{ cards.feature_card(post, true) }}
      {% endif %}
    {% endfor %}

    {% for post in all_projects.projects[0:14] %}
      {% if not post.featured and not post.subdued %}
        {{ cards.feature_card(post) }}
      {% endif %}
    {% endfor %}
  </section>
  {{ ctas.box('See all projects','/projects/') }}

  {{ headers.midpage('Recent posts') }}

  {% set posts = g.docs('posts', order_by='date') %}
  {% set postsc = 0 %}
  <section class='blogproll-wrapper'>
    {% for post in posts | reverse() %}
      {% set postsc = postsc + 1 %}
      {% if postsc <= 3 %}
        {{ postparts.post_stub(post) }}
      {% endif %}
    {% endfor %}
  </section>
  {{ ctas.box('See all posts','/blog/') }}
{% endblock %}
