{% extends '/views/base.html' %}
{% import '/views/macros/cards.html' as cards %}

{% block main %}
  {# Lists Featured Projects #}
  {% set all_projects = g.yaml('/content/projects.yaml') %}

  <section class='feature-card-wrapper'>
    {% for post in all_projects.projects %}
      {% if post.featured %}
        {{ cards.feature_card(post, true) }}
      {% endif %}
    {% endfor %}

    {% for post in all_projects.projects %}
      {% if not post.featured and not post.subdued %}
        {{ cards.feature_card(post) }}
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}
