{% extends '/views/base.html' %}

{% block main %}
  {{ headers.page('William Anderson', 'Artist, Toy-maker, Engineer, Teacher') }}

  {# Lists Featured Projects #}
  {% set all_projects = g.yaml('/content/projects.yaml') %}

  <section class='feature-card-wrapper'>
    {% for post in all_projects.projects %}
      {% if post.featured %}
        {{ cards.feature_card(post, true) }}
      {% endif %}
    {% endfor %}

    {% set posts = g.docs('posts', order_by='date') | reverse() %}
    <div class='feature-card'>
      {{ headers.midpage('Recent posts') }}

      {% for post in posts %}
        {% if post.feature %}
          {{ postparts.post_stub(post) }}
        {% endif %}
      {% endfor %}
    </div>

    {% set show_count = 0 %}
    {% for post in all_projects.projects %}
      {% if not post.featured and not post.subdued and show_count <= 14 %}
        {% set show_count = show_count + 1 %}
        {{ cards.feature_card(post) }}
      {% endif %}
    {% endfor %}
  </section>
  {{ ctas.box('See all projects','/projects/') }}
{% endblock %}
