{% extends "/views/base.html" %}

{% block main %}
  {{ headers.page(doc.title, doc.subtitle) }}
  <div class="blogpost-meta">
    <a class="blogpost-meta__author" href="https://plus.google.com/u/0/113885475286967334906" rel="author" target="_blank">William Anderson</a>
    <div class="blogpost-meta__date">{{doc.date}}</div>
  </div>
  <article class='blog_post'>
    <section>{{doc.html|safe}}</section>
  </article>

  {% if doc.curated_next %}
    {% set next_doc = g.doc(doc.curated_next) %}
  {% else %}
    {% set next_doc = doc.next() %}
  {% endif %}

  {% if next_doc %}
    {{ ctas.box('Read post',next_doc.url.path,next_doc.title, 'Want to read more? Check out:') }}
  {% endif %}
{% endblock %}
