{% extends "/views/base.html" %}

{% block main %}
  {{ headers.page(doc.title, doc.subtitle) }}
  <div class="blogpost-meta">
    <a class="blogpost-meta__author" href="https://plus.google.com/u/0/113885475286967334906" rel="author" target="_blank">William Anderson</a>
    <div class="blogpost-meta__date">{{doc.date}}</div>
  </div>
  <article class='blog_post'>
    <section>{{doc.html|safe}}</section>
  </article>
  <!-- TODO: format and style previous/next -->
  <div class="meta-alt">
    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}

    {% if next_doc %}
    <div>
      <span>{{_('Next:')}}</span>
      <a href="{{next_doc.url.path}}">{{next_doc.title}}</a>
    </div>
    {% endif %}
    {% if prev_doc %}
    <div>
      <span>{{_('Back:')}}</span>
      <a href="{{prev_doc.url.path}}">{{prev_doc.title}}</a>
    </div>
    {% endif %}
  </div>
{% endblock %}
