@import "includes/reset";
@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat";
@import "libraries/pygments-github";

@import "settings/colors";
@import "settings/layout";
@import "settings/typography";

@import "modules/top-header";
@import "modules/feature-card";
@import "modules/cta-box";
@import "modules/page-header";
@import "modules/page-footer";
@import "pages/blog-post";

* {
  box-sizing: border-box;
}

body {
  background: white;
}
