.cta-box {
  width: 100%;
  background: $color-brand-light;
  height: 120px;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;

  @include media($screen-medium) {
    height: 180px;
  }

  @include media($screen-large) {
    height: 200px;
  }
}

.cta-box__btn {
  background: $color-brand-secondary;
  border-radius: 2px;
  color: white;
  display: block;
  font-family: $font-brand-primary;
  font-weight: $font-weight-thin;
  margin: 0 auto;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: background .1s, box-shadow .1s, color .1s;
  width: 240px;

  &:hover {
    background: white;
    box-shadow: 0 1px 2px 1px $color-shadow;
    color: $color-brand-secondary;
  }
}
