.cta-box {
  width: 100%;
  background: $color-brand-light;
  height: 120px;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;

  @include media($screen-medium) {
    height: 180px;
  }

  @include media($screen-large) {
    height: 200px;
  }
}

.cta-box__btn {
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
}
