$feature-card-padding: 14px;
$feature-card-margin: 0px;

.feature-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;

  .page-header + & {
    padding-top: 45px;
  }
}

.feature-card {
  background: white;
  border: 1px solid $color-brand-light;
  cursor: pointer;
  margin: #{$feature-card-margin * 2} $feature-card-margin 0;
  padding: $feature-card-padding * .5;
  transition: background .3s;
  width: 100%;

  &:hover {
    background: $pattern-brand-primary;
  }

  @include media($screen-medium) {
    padding: $feature-card-padding * .66;
    width: 50%;
  }

  @include media($screen-large) {
    padding: $feature-card-padding;
    width: 33.33%;
  }
}

.feature-card--featured {
  @extend .feature-card;

  @include media($screen-large) {
    width: 60%;

    &+.feature-card--featured {
      width: 40%;
    }
  }
}

.feature-card__img-wrap {
  line-height: 0;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
  }

  @include media($screen-large) {
    .feature-card--featured:first-child & {
      background: none !important;
    }

    .feature-card--featured+.feature-card--featured & {
      background-position: center center;
      background-size: cover;
      height: 0;
      padding-top: (387/449)*100%;
    }
  }
}

.feature-card__title {
  color: $color-brand-primary;
  font-family: $font-brand-primary;
  font-size: nth($font-sizes-item-title, 1);
  font-weight: $font-weight-thin;
  padding: $feature-card-padding 0 $feature-card-padding/2;
  text-align: center;

  @include media($screen-medium) {
    font-size: nth($font-sizes-item-title, 1);
  }

  @include media($screen-large) {
    font-size: nth($font-sizes-item-title, 1);

    .feature-card--featured & {
      font-size: nth($font-sizes-item-title, 2);
    }
  }
}

.feature-card__desc {
  color: $color-brand-copy;
  font-family: $font-brand-primary;
  font-weight: $font-weight-thin;
  padding: $feature-card-padding/2 0 $feature-card-padding;
  text-align: center;
}

.feature-card__date {
  color: $color-brand-midtone;
  font-family: $font-brand-primary;
  font-size: 14px;
  font-weight: $font-weight-thin;
  text-align: right;
  width: 100%;
}
