.page-header {
  display: block;
  width: 100%;
  background: $gradient-brand;
  padding-top: 70px;
}

.page-header--mid {
  @extend .page-header;
  margin: 0 auto;
  max-width: $max-width;
  padding-top: 0;
  background: $gradient-brand-subtle;
  border: 1px solid $color-brand-light;
  border-top: 0;
}

.page-header__content {
  height: 100%;
  margin: 0 auto;
  max-width: $max-width;
  padding: 40px 20px;
  width: 100%;
  text-align: center;
}

.page-header__title {
  color: white;
  font-family: $font-brand-primary;
  font-size: 32px;
  font-weight: $font-weight-thin;

  .page-header--mid & {
    color: darken($color-brand-primary, 20%);
  }

  @include media($screen-medium) {
    font-size: 48px;
  }
}

.page-header__subtitle {
  color: white;
  font-family: $font-brand-primary;
  font-weight: $font-weight-normal;
  padding: .1rem 0 .6rem;

  .page-header--mid & {
    color: $color-brand-primary;
  }
}
