{% macro feature_card(post, feature) %}
  <a href='{{post.url}}' class='feature-card{% if feature %}--featured{% endif %}' target='_blank'>
    <figure>
      <div class='feature-card__img-wrap' {% if feature %}style="background-image: url('/static/images/project_covers/{{post.image}}');"{% endif %}>
        <img src='/static/images/project_covers/{{post.image}}' class='feature-card__img'/>
      </div>
      <figcaption class='feature-card__caption'>
        <h2 class='feature-card__title'>{{post.title}}</h2>
        <p class='feature-card__desc'>{{post.description}}</p>
        <div class='feature-card__date'>{{post.date}}</div>
      </figcaption>
    </figure>
  </a>
{% endmacro %}

{% macro inprogress_card(post, feature) %}
  <figure class="inprogress-card">
    <div class='inprogress-card__img-wrap'
        style="background-image: url('/static/images/inprogress/{{post.image}}');">
    </div>
    <figcaption class="inprogress-card__caption">
      <h2 class='inprogress-card__title'>{{post.title}}</h2>
      <p class='inprogress-card__sub'>{{post.description}}</p>
      <p class='inprogress-card__desc'>{{post.summary}}</p>
      {% if post.cta %}
        <a href='{{post.url}}' target="_blank" class="inprogress-card__btn btn" target='_blank'>{{post.cta}}</a>
      {% endif %}
    </figcaption>
  </figure>
{% endmacro %}
