{% macro feature_card(post, feature) %}
  <a href='{{post.url}}' class='feature-card{% if feature %}--featured{% endif %}' target='_blank'>
    <figure>
      <div class='feature-card__img-wrap' {% if feature %}style="background-image: url('/static/images/project_covers/{{post.image}}');"{% endif %}>
        <img src='/static/images/project_covers/{{post.image}}' class='feature-card__img'/>
      </div>
      <figcaption class='feature-card__caption'>
        <h2 class='feature-card__title'>{{post.title}}</h2>
        <p class='feature-card__desc'>{{post.description}}</p>
        <div class='feature-card__date'>{{post.date}}</div>
      </figcaption>
    </figure>
  </a>
{% endmacro %}
