{% macro header() %}
<a href='http://williamanderson.io' id='logo' class='logo'>
  <div id='squares'>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
    <div class='wrap'>
      <div class='square'></div>
    </div>
  </div>
  <h1>
    <span>William</span>
    <br /><span>Anderson</span>
  </h1>
</a>
{% endmacro %}
