$color-brand-primary: #d65b5b;
$color-brand-dark: #111;
$color-brand-darkest: #000;
$color-brand-copy: #757575;
$color-brand-midtone: #efefef;

$pattern-brand-primary: url('/static/images/patterns/primary.png');
