$color-brand-primary: #d65b5b;
$color-brand-dark: #999;
$color-brand-darkest: #000;
$color-brand-copy: #757575;
$color-brand-light: #efefef;
$color-brand-midtone: #cdcdcd;

$pattern-brand-primary: url('/static/images/patterns/primary.png');
